raspberryPiNodeRed
[{"id":"dbea6f6f.a0737","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce3fecd2.21585","type":"function","z":"dbea6f6f.a0737","name":"Label button trigger","func":"if (msg.payload === 1)\n    msg.payload = {\"trigger\": \"button\"};\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":480,"wires":[["81ad75f6.9b4628"]]},{"id":"9686e0c2.14001","type":"ibmiot in","z":"dbea6f6f.a0737","authentication":"apiKey","apiKey":"5c4cf238.485ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"RaspberryPi","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Input from IBM Cloud","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":140,"y":220,"wires":[["6de563f3.1bdbbc"]]},{"id":"81ad75f6.9b4628","type":"ibmiot out","z":"dbea6f6f.a0737","authentication":"apiKey","apiKey":"5c4cf238.485ebc","outputType":"evt","deviceId":"RaspberryPi","deviceType":"RaspberryPI","eventCommandType":"event","format":"json","data":"number","qos":0,"name":"Output to IBM Cloud","service":"registered","x":1260,"y":580,"wires":[]},{"id":"859b2a8f.a62868","type":"grovepi-lcd-rgb","z":"dbea6f6f.a0737","name":"Password Locations LCD","x":1030,"y":200,"wires":[]},{"id":"d5f0ff3b.867fd","type":"trigger","z":"dbea6f6f.a0737","op1":"","op2":"{\"rgb\":[0,0,0],\"text\":\"off\"}","op1type":"pay","op2type":"json","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Turn Off Display","x":800,"y":200,"wires":[["859b2a8f.a62868"]]},{"id":"cb918aea.9a71a8","type":"http in","z":"dbea6f6f.a0737","name":"Get GPS data from device","url":"/gps-data","method":"post","upload":false,"swaggerDoc":"","x":730,"y":580,"wires":[["e18c1676.6e2518"]]},{"id":"221077be.9a6988","type":"trigger","z":"dbea6f6f.a0737","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Blink LED","x":880,"y":260,"wires":[["a113cb00.53dbc8"]]},{"id":"8c2eea8f.135648","type":"switch","z":"dbea6f6f.a0737","name":"IoT device source","property":"payload.trigger","propertyType":"msg","rules":[{"t":"eq","v":"phone","vt":"str"},{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"timeout","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":300,"wires":[["221077be.9a6988"],["bdddd667.e10458"],["bf5c74cd.592918"]]},{"id":"bdddd667.e10458","type":"trigger","z":"dbea6f6f.a0737","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Blink LED","x":880,"y":300,"wires":[["91df987.b944f68"]]},{"id":"bf5c74cd.592918","type":"trigger","z":"dbea6f6f.a0737","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Blink LED","x":880,"y":340,"wires":[["5dba762e.052208"]]},{"id":"7cd178ee.a1fcd8","type":"trigger","z":"dbea6f6f.a0737","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"40","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Turn Off Speaker","x":810,"y":120,"wires":[["cc0b316c.32df8"]]},{"id":"cc0b316c.32df8","type":"grove digital output","z":"dbea6f6f.a0737","name":"Speaker","board":"34970cd6.4a5fe4","pin":"7","x":1000,"y":120,"wires":[]},{"id":"a113cb00.53dbc8","type":"grove digital output","z":"dbea6f6f.a0737","name":"Green LED","board":"34970cd6.4a5fe4","pin":"2","x":1050,"y":260,"wires":[]},{"id":"91df987.b944f68","type":"grove digital output","z":"dbea6f6f.a0737","name":"Blue LED","board":"34970cd6.4a5fe4","pin":"3","x":1040,"y":300,"wires":[]},{"id":"5dba762e.052208","type":"grove digital output","z":"dbea6f6f.a0737","name":"Red LED","board":"34970cd6.4a5fe4","pin":"4","x":1040,"y":340,"wires":[]},{"id":"67466fb8.91d49","type":"grovepi-button","z":"dbea6f6f.a0737","name":"Trigger Password Change","pin":"8","x":730,"y":480,"wires":[["ce3fecd2.21585"]]},{"id":"e18c1676.6e2518","type":"function","z":"dbea6f6f.a0737","name":"Set GPS data to msg","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":580,"wires":[["81ad75f6.9b4628"]]},{"id":"6de563f3.1bdbbc","type":"function","z":"dbea6f6f.a0737","name":"Filter's out GPS messages","func":"if (msg.payload.trigger === \"phone\" || msg.payload.trigger === \"button\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["d5f0ff3b.867fd","8c2eea8f.135648","7cd178ee.a1fcd8"]]},{"id":"5c4cf238.485ebc","type":"ibmiot","z":"","name":"IBM IoT","keepalive":"60","serverName":"a3dag3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"34970cd6.4a5fe4","type":"board-config","z":"","board":"GrovePi v1.2.3"}]