SodaCityHacks_IBM_Cloud_export.txt
[{"id":"c0589051.a3e4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12622b8.e50d2d5","type":"function","z":"c0589051.a3e4c","name":"Device Filter","func":"var fullPassword = msg.payload.password;\n\nvar password1 = fullPassword.substring(1, 4);\nvar password2 = fullPassword.substring(5, 8);\nvar password3 = fullPassword.substring(9, 12);\n\nvar trigger = msg.payload.trigger\n\nif (trigger === \"phone\"){\n    msg.payload = {\"rgb\": [50,205,50], \"text\": \"Nick Button Time \" + password1 + \"   \" + password2 + \"   \" + password3, \"trigger\": trigger };\n    return msg;\n}","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["d094fd65.c39bd"]]},{"id":"d094fd65.c39bd","type":"ibmiot out","z":"c0589051.a3e4c","authentication":"apiKey","apiKey":"749092ce.5e0c7c","outputType":"evt","deviceId":"RaspberryPi","deviceType":"RaspberryPI","eventCommandType":"event","format":"json","data":"num","qos":0,"name":"Output to Pi","service":"registered","x":850,"y":300,"wires":[]},{"id":"e61b2922.e2f168","type":"ibmiot in","z":"c0589051.a3e4c","authentication":"apiKey","apiKey":"749092ce.5e0c7c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"RaspberryPi","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Pi Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":300,"wires":[["e5b4d3c4.ac5c3"]]},{"id":"e5b4d3c4.ac5c3","type":"function","z":"c0589051.a3e4c","name":"Lattitude Filter","func":"msg.header = \"trigger\";\n\nvar trigger = \"\";\nvar password = \"\"\nvar tempLat = msg.payload.lat || \"\";\nvar foundLat = tempLat.search(\"34.0172\");\nif(foundLat != -1)\n{\n    trigger = \"phone\"\n    password = \"nick\"\n}\nmsg.payload = {\"trigger\": trigger};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["963f1390.66fb7","93f3194.36d1be8"]]},{"id":"963f1390.66fb7","type":"http request","z":"c0589051.a3e4c","name":"","method":"GET","ret":"txt","url":"https://xi9o1eurkg.execute-api.us-east-1.amazonaws.com/prod","tls":"","x":250,"y":180,"wires":[["2ee8080b.ba8ad8"]]},{"id":"2ee8080b.ba8ad8","type":"function","z":"c0589051.a3e4c","name":"Pack AWS Data","func":"msg.header = \"password\";\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["93f3194.36d1be8"]]},{"id":"93f3194.36d1be8","type":"function","z":"c0589051.a3e4c","name":"Merge Data","func":"context.data = context.data || {};\n\nswitch (msg.header) {\n    case \"password\":\n        context.data.password = msg.payload;\n        msg = null;\n        break;\n    case \"trigger\":\n        context.data.trigger = msg.payload.trigger;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.password != null && context.data.trigger != null ) {\n\tmsg2 = {};\n    msg2.payload = {\"password\": context.data.password, \"trigger\": context.data.trigger};\n    \n    context.data=null;\n\treturn msg2;\n} ","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["12622b8.e50d2d5"]]},{"id":"749092ce.5e0c7c","type":"ibmiot","z":"","name":"Pi connection","keepalive":"60","serverName":"a3dag3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]